<a href="/events/create"><input type="button" value="Create Event"></a>
<input id="join-event" type="button" value="Join Event" onclick="showForm('join-event', 'join-event-form')">
<form id="join-event-form" onsubmit="joinEvent()" style="display:none">
    <input id="eventId" type="text" name="eventId" placeholder="Super Secret Event ID">
    <input type="submit" value="Join Event">
</form>

{{#each event}}
<div>
    <a href="/events/{{this._id}}"><img src="{{this.eventPic}}" class="event-pic"></a>
    <text>{{this.name}}</text>
    {{#if this.yes}}    
        <a href="/events/edit/{{this._id}}">Edit</a>
    {{/if}}
    <p>{{this.description}}</p>
    <p>{{this.start.date}}</p>
    <p>{{this.end.date}}</p>
    {{#if this.address.zip}}
    <p>Address: {{this.address.street}} {{this.address.apt}} {{this.address.city}} {{this.address.state}} {{this.address.zip}}</p>
    {{/if}}
    
</div>
{{/each}}