
<div class="conatiner-fluid">
    <div class="row">
        <div class="col-3">
            <a href="/events/create"><input type="button" class="btn" value="Create Event"></a>
            <br><br>
            <input id="join-event" type="button" class="btn" value="Join Event" onclick="showForm('join-event', 'join-event-form')">
            <form id="join-event-form" onsubmit="joinEvent()" style="display:none">
                <input id="eventId" class="input-sm" type="text" name="eventId" placeholder="Super Secret Event ID">
                <input type="submit" class="btn" value="Join Event">
            </form>
        </div>
        <div class="col-6">
            <h2 class="text-center">Events</h2>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
    {{#each event}}
        <div class="col-md-6 col-xl-4 event-row">
            <a href="/events/{{this._id}}"><img class="img-fluid" src="{{this.eventPic}}" class="event-pic"></a>
            <a href="/events/{{this._id}}"><h3 class="text-center text-capitalize">{{this.name}}</h3></a>
            <p class="text-center">{{this.description}}</p>
            <div class="row">
                <span class="text-left col-6">
                    Start: {{this.start.date}}<br>
                    End: {{this.end.date}}
                </span>
                    {{#if this.address.zip}}
                        <address class="text-right pull-right col-6">{{this.address.street}} {{this.address.apt}} {{this.address.city}} {{this.address.state}} {{this.address.zip}}</address>
                    {{/if}}
                    {{!-- <br><br> --}}
            </div>
            
            {{#if this.yes}}    
                <a href="/events/edit/{{this._id}}">Edit</a>
            {{/if}}
        </div>
    {{/each}}
    </div>
</div>