<img src="{{event.eventPic}}" class="event-pic">
{{#if event.yes}}
    <a href="/events/edit/{{event._id}}"><button>Edit {{event.name}}</button></a>
    <input type="button" value="Add Pictures" id="addPicture" onclick="showForm('addPicture', 'picturesForm')">
    {{else}}
    {{!-- <a href="/events/edit/pictures/{{event._id}}"> --}}<button id="addPicture" onclick="showForm('addPicture', 'picturesForm')">Add Pictures</button>{{!-- </a> --}}
{{/if}}
<form id="picturesForm" style="display:none" action="/events/pictures/add/{{event._id}}" {{!-- action="/events/pictur" --}} {{!-- onsubmit="addPic()" --}} method="post" enctype="multipart/form-data">
    <input type="file" multiple name="pictures">
    <input type="submit" value="Add Pictures">
</form>
{{event.name}}<br>
{{event.description}}<br>
{{#if event.address.zip}}
    {{#with event.address}}
        {{street}}
        {{apt}}
        {{city}}
        {{state}}
        {{zip}}
    {{/with}}
{{/if}}
<br>
Start {{#with event.start}}
    Date: {{date}}<br>
    Time: {{time}}
{{/with}}
<br>
End {{#with event.end}}
    Date: {{date}}<br>
    Time: {{time}}
{{/with}}
<br>

<div class="event-pics-container">
    {{#each event.pictures}}
    <div class="event-pics-div">
        <img src="{{this.picPath}}" class="event-pics">
        <text>By: {{this.creatorId.name.first}} {{this.creatorId.name.last}}</text><br>
        {{#if this.description}}
            <text>Description: {{this.description}}</text>        
        {{/if}}

        {{#if comments}}
            <div class="event-pics-comments">
                Comments<ul>
                    {{#each comments}}
                        <li>{{this.creatorId.name.first}} {{this.creatorId.name.last}}
                            <span>
                                {{#if ../../event.yes}}
                                    <input id="{{this._id}}-edit-button" type="button" value="Edit" onclick="showForm('{{this._id}}-content', '{{this._id}}-form', '{{this._id}}-edit-button')">
                                    <input type="button" value="Delete" onclick="deleteComment('{{../this._id}}', '{{this._id}}')">
                                {{/if}}
                            </span>
                        </li>
                        <li id="{{this._id}}-content" class="comment-content">{{this.content}}</li>
                        {{#if ../../event.yes}}
                            <li id="{{this._id}}-form" style="display:none">
                                <form method="post" onsubmit="editComment('{{../this._id}}', '{{this._id}}')">
                                    <input id="{{this._id}}-editComment" type="text" value="{{this.content}}" name="commentContent">
                                    <input type="submit" value="Edit">
                                </form>
                            </li>
                        {{/if}}
                    {{/each}}
                </ul>
            </div>
        {{/if}}


        {{#if ../event.yes}}
        <input type="button" id="{{this._id}}" value="Edit Details" onclick="showForm('{{this._id}}', '{{this.picPath}}')">
        <form id="{{this.picPath}}" style="display:none" action="/events/pictures/edit/{{../event._id}}/{{this._id}}" method="post">
            <input type="text" name="picName" value="{{this.picName}}">
            <input type="text" name="description" placeholder="Description" value="{{this.description}}">
            <input type="submit" value="Edit Picture">
            <a href="/events/pictures/delete/{{this._id}}"><input type="button" value="Delete Picture"></a>
        </form>
        {{/if}}
        <input type="button" id="{{this._id}}comment" value="Add Comment!" onclick="showForm('{{this._id}}comment', '{{this._id}}comment-form')">
        <form id="{{this._id}}comment-form" style="display:none" onsubmit="addComment('{{this._id}}')">
            <input id="{{this._id}}-addComment" type="text" name="commentContent" placeholder="Whatcha got to say?">
            <input type="submit" value="Add!">
        </form>
    </div>
    {{/each}}
</div>

