<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel="shortcut icon" href="https://res.cloudinary.com/odon/image/upload/v1530731353/folder-name/IMG-20180527-WA0007.jpg.jpg">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.bundle.min.js">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  
    <div {{!-- id="nav" --}} class="navbar-collapse">
      
      <text>{{#if req.user}}<a href="/users/{{req.user._id}}"><img class="profile-pic" src="{{req.user.profilePic}}">Welcome {{req.user.name.first}}</a>{{/if}}</text>
      
      <ul>
        {{#if req.user}}
        <li><a href="/auth/logout">Logout :(</a></li>
        <li><a href="/events">Your Events</a></li>
        <li><a href="/groups">Your Groups</a></li>
        {{else}}
        <li><a href="/auth/signup">Sign Up!</a></li>
        <li><a href="/auth/login">Login!</a></li>
        {{/if}}
      </ul>
    </div>

    {{{body}}}

    <div style="display:none" id="domainName">{{req.userDomain}}</div>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src='/javascripts/script.js'></script>
  </body>
</html>