<div class="container-fluid">
    <div class="row">
        <div class="col-3">
            {{#if group.yes}}
                <a href="/groups/edit/{{group._id}}"><input type="button" class="btn btn-sm" value="Edit"></a>
            {{/if}}
        </div>
        <div class="col-6">
            <h1 class="text-center text-capitalize">{{group.name}}</h1>
        </div>
    </div>
{{!-- </div> --}}

{{!-- <div class="container-fluid"> --}}
    <img src="{{group.groupPic}}" class="img-fluid"><br>
    <div class="row">
        <div class="col-3">
            {{#if group.events}}
            <a href="/groups/events/create/{{group._id}}"><input type="button" class="btn" value="Add Event"></a>
            {{else}}
            {{/if}}
        </div>
        <div class="col-6">
            <h5 class="text-center text-capitalize">{{group.description}}</h5>
        </div>
    </div>
    
{{!-- </div> --}}

<br>

Members: 
    {{#if group.yes}}
        <input id="edit-members-button" type="button" value="Edit" onclick="showList('edit-members-button', 'done-members-button', 'member-edit')">
        <input id="done-members-button" type="button" value="Done" style="display:none" onclick="showList('done-members-button', 'edit-members-button', 'member-edit')">
        <input id="add-members-button" type="button" value="Add Members" onclick="showForm('add-members-button', 'add-members-form', 'edit-members-button')">
        <form id="add-members-form" {{!-- action="/groups/members/add/{{group._id}}" --}} onsubmit="addGroupMember('{{group._id}}')" {{!-- method="post" --}} style="display:none">
            <div id="usersField">
            </div>
            <div class="dropdown">
                <input type="text" multiple placeholder="Search.." id="userInput" onkeyup="filterFunction(), showMembersInput()" autocomplete="off">
                <input type="button" value="Add" onclick="addMember()">
                <div id="myDropdown" class="dropdown-content">
                    {{#each users}}
                    <a href="#{{this.username}}">{{this.username}}</a>
                    {{/each}}
                </div>
            </div>
            <input type="submit" value="Add Members">
        </form>
    {{/if}}
<ul>
    {{#each group.members}}
        <li><a href="/users/{{this._id}}">
        {{this.name.first}} {{this.name.last}}</a></li>
        {{#if ../group.yes}}
            <a style="display:none" class="member-edit" href="/groups/remove-member/{{../group._id}}/{{this._id}}"><input type="button" value="Remove"></a>
        {{/if}}
    {{/each}}
</ul>

{{#if group.events}}
<div class="h4 text-center">Events
    {{#if group.yes}}
    <input id="edit-events-button" type="button" class="btn-sm pull-right" value="Edit" onclick="showList('edit-events-button', 'done-events-button', 'event-edit')">
    <input id="done-events-button" type="button" class="btn-sm" value="Done" style="display:none" onclick="showList('done-events-button', 'edit-events-button', 'event-edit')">
    {{/if}}
</div>
    
<div class="text-right col-12">
    <input id="events-view-button" class="btn btn-small" type="button" value="List View" onclick="showEventsGrid('events-view-button', 'event-list', 'event-grid')">
</div>

<div id="event-list" class="row" style="display:none">
    {{#each group.events}}
        <div class="col-12 col-md-6 event-list-item">
            <div class="row justify-content-between">
                <div class="col-7">
                    <a class="h3" href="/events/{{this._id}}">
                        {{this.name}}
                    </a>
                </div>
                
                {{#if ../group.yes}}
                <div class="col-5">
                    <a class="event-edit" style="display:none" href="/events/edit/{{this._id}}">
                        <input type="button" class="btn btn-sm btn-block" value="Edit">
                    </a>
                    <a style="display:none" class="event-edit" href="/groups/events/remove/{{../group._id}}/{{this._id}}">
                        <input type="button" class="btn btn-sm btn-block" value="Remove from {{../group.name}}">
                    </a>
                </div>
                
            {{/if}}
            </div>
        </div>
        
    {{/each}}
</div>

<div id="event-grid">
    <div class="row">
    {{#each group.events}}
        <div class="col-sm-5 col-xl-4 event-div">
            <a href="/events/{{this._id}}"><img class="img-fluid" src="{{this.eventPic}}" class="event-pic"></a>
            <a href="/events/{{this._id}}"><h3 class="text-center text-capitalize">{{this.name}}</h3></a>
            <div class="row">
                <span class="text-left col-6">
                    Start: {{this.start.date}}<br>
                    End: {{this.end.date}}
                </span>
                    {{#if this.address.zip}}
                        <address class="text-right pull-right col-6">{{this.address.street}} {{this.address.apt}} {{this.address.city}} {{this.address.state}} {{this.address.zip}}</address>
                    {{/if}}
                    {{!-- <br><br> --}}
            </div>
            
            {{#if ../group.yes}}    
                <a class="event-edit" style="display:none" href="/events/edit/{{this._id}}"><input type="button" class="btn btn-sm btn-block" value="Edit"></a>
                <a style="display:none" class="event-edit" href="/groups/events/remove/{{../group._id}}/{{this._id}}"><input type="button" class="btn btn-block" value="Remove from {{../group.name}}"</a>
            {{/if}}
        </div>
    {{/each}}
    </div>
</div>
{{else}}
    <a href="/groups/events/create/{{group._id}}"><input type="button" class="btn btn-block" value="Add Event"></a>
{{/if}}



</div>


<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
