<img src="{{user.profilePic}}" class="profile-pic">
{{user.name.first}} {{user.name.last}}  

{{#if user.yes}}
<a href="/users/edit/{{user._id}}"><input type="button" value="Edit Your Profile"></a>
<input type="button" value="Add Friends" onclick="showForm('addFriend', 'friendForm')" id="addFriend">

<form id="friendForm" style="display:none" action="/users/add/friend/{{user._id}}" method="post">
    <fieldset id="usersField" {{!-- style="display:none" --}}>
    </fieldset>
    <div class="dropdown">
        <input type="text" multiple placeholder="Search.." id="userInput" onkeyup="filterFunction(), showMembersInput()">
        <input type="button" value="Add" onclick="addMember()">
        <div id="myDropdown" class="dropdown-content">
            {{#each data.user}}
            <a href="#{{this}}">{{this}}</a>
            {{/each}}
        </div>
    </div>
    <br>
    <input type="submit" value="Add Friends">
</form>
{{/if}}
<br>


Your Username: {{user.username}}<br>
Your Email: {{user.email}}<br>
Your Phone: {{user.phone}}<br>

<br><br>

{{#if user.events}}
    Your Events <ul>
        {{#each user.events}}
            <li><a href="/events/{{this._id}}">{{this.name}}</a></li>
        {{/each}}
    </ul>
{{/if}}

<br><br>

{{#if user.groups}}
    Your Groups <ul>
        {{#each user.groups}}
            <li><a href="/groups/{{this._id}}">{{this.name}}</a></li>
        {{/each}}
    </ul>
{{/if}}

<br><br>

{{#if user.friends}}
    Your Friends <ul>
        {{#each user.friends}}
            <li><a href="/users/{{this._id}}">{{this.name.first}} {{this.name.last}}</a></li>
        {{/each}}
    </ul>
{{/if}}