<img src="{{user.profilePic}}" class="profile-pic">
{{user.name.first}} {{user.name.last}}  

{{#if user.yes}}
<a href="/users/edit/{{user._id}}"><input type="button" value="Edit Your Profile"></a>
<input type="button" value="Add Friends" onclick="showForm('addFriend', 'friendForm')" id="addFriend">

<form id="friendForm" style="display:none" action="/users/add/friend/{{user._id}}" method="post">
    <fieldset id="usersField" {{!-- style="display:none" --}}>
    </fieldset>
    <div class="dropdown">
        <input type="text" multiple placeholder="Search.." id="userInput" onkeyup="filterFunction(), showMembersInput()">
        <input type="button" value="Add" onclick="addMember()">
        <div id="myDropdown" class="dropdown-content">
            {{#each data.user}}
            <a href="#{{this}}">{{this}}</a>
            {{/each}}
        </div>
    </div>
    <br>
    <input type="submit" value="Add Friends">
</form>
{{/if}}
<br>


{{#if user.yes}}
Your
{{else}}
{{user.name.first}}'s
{{/if}}
Username: {{user.username}}<br>
{{#if user.yes}}
Your
{{else}}
{{user.name.first}}'s
{{/if}}
Email: {{user.email}}<br>
{{#if user.yes}}
Your
{{else}}
{{user.name.first}}'s
{{/if}}
Phone: {{user.phone}}<br>

<br><br>

{{#if user.events}}
    {{#if user.yes}}
    Your
    {{else}}
    {{user.name.first}}'s
    {{/if}}
    Events {{#if user.yes}}
                    <input id="edit-button" type="button" value="Edit" onclick="showList('edit-button', 'done-button', 'event-edit')">
                    <input id="done-button" type="button" value="Done" style="display:none" onclick="showList('done-button', 'edit-button', 'event-edit')">
                {{/if}}
        <ul>
        {{#each user.events}}
            <li><a href="/events/{{this._id}}">{{this.name}}</a></li>
            {{#if ../user.yes}}
                <a class="event-edit" style="display:none" href="/events/edit/{{this._id}}"><input type="button" value="Edit"></a>
            {{/if}}
        {{/each}}
    </ul>
{{/if}}

<br><br>

{{#if user.groups}}
    {{#if user.yes}}
    Your
    {{else}}
    {{user.name.first}}'s
    {{/if}}
    Groups {{#if user.yes}}
                <input id="edit-groups-button" type="button" value="Edit" onclick="showList('edit-groups-button', 'done-groups-button', 'group-edit')">
                <input id="done-groups-button" type="button" value="Done" style="display:none" onclick="showList('done-groups-button', 'edit-groups-button', 'group-edit')">
            {{/if}} 
    <ul>
        {{#each user.groups}}
            <li><a href="/groups/{{this._id}}">{{this.name}}</a></li>
            {{#if ../user.yes}}
                <a class="group-edit" style="display:none" href="/groups/edit/{{this._id}}"><input type="button" value="Edit"></a>
            {{/if}}
        {{/each}}
    </ul>
{{/if}}

<br><br>

{{#if user.friends}}
    {{#if user.yes}}
    Your
    {{else}}
    {{user.name.first}}'s
    {{/if}}
    Friends {{#if user.yes}}
                    <input id="edit-friends-button" type="button" value="Edit" onclick="showList('edit-friends-button', 'done-friends-button', 'delete-friend')">
                    <input id="done-friends-button" type="button" value="Done" style="display:none" onclick="showList('done-friends-button', 'edit-friends-button', 'delete-friend')">
                {{/if}}
    <ul>
        {{#each user.friends}}
            <li><a href="/users/{{this._id}}">{{this.name.first}} {{this.name.last}}</a></li>
            {{#if ../user.yes}}
                <a class="delete-friend" style="display:none" href="/users/friends/delete/{{../user._id}}/{{this._id}}"><input type="button" value="Delete"></a>
            {{/if}}
        {{/each}}
    </ul>
{{/if}}